body { margin: 0; font-family: 'Open Sans', sans-serif }
h1,h2,h3,h4,h5,h6 { font-family: 'Bowlby One SC', cursive }
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em; padding: 0 1vw;
}
input {
  margin: 1em; margin: 1vw;
  padding: .25em; padding: .25vw;
}
#tokenr {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #111;
}
#tokenr-editor-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows {
  display: flex;
  flex-direction: row;
}
.cols {
  display: flex;
  flex-direction: column;
}

#tokenr-effects {
  flex: 1;
}
#tokenr-effects-select {
}
#tokenr-effects-list {
  flex: 1;
}
.tokenr-effects-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #999;
  border: 1px solid #666;
  border: 1px solid;
}
.tokenr-effects-item.selected {
  border: 1px solid #ccf;
}
.tokenr-effects-item-content {
  padding: 1em; padding: 1vw;
  display: flex;
  align-items: stretch;
  flex: 1;
}
.tokenr-effects-item-content img {
  display: block;
  height: 64px;
  width: 64px;
}
.tokenr-effects-item-content input {
  display: table-cell;
  vertical-align: middle;
}
.tokenr-effects-item-content div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}
.tokenr-effects-item-content input[type=range] {
  flex: 1;
}
.tokenr-effects-item-add {
  flex: 1;
}
.tokenr-effects-item-move {
  display: block;
  width: 24px;
  min-height: 100%;
  margin: 1px 0 1px 0;
  background-color: #646464;
  cursor: move;
  user-select: none;
}

.tokenr-effects-item input {
  margin: 0; padding: 0;
  width: 100%;
  flex: 1;
}

#tokenr-view {
  background-color: #000;
  flex: 3;
  overflow: hidden;
}
#tokenr-view-canvas {
  background-color: #606060;
  background-image: linear-gradient(45deg, #a0a0a0 25%, transparent 25%), linear-gradient(-45deg, #a0a0a0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #a0a0a0 75%), linear-gradient(-45deg, transparent 75%, #a0a0a0 75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 30px, 30px -30px, -30px 0px;
}

#tokenr-output-width {
  width: 4em;
}
#tokenr-output-height {
  width: 4em;
}
